:root {
    --bg-dark: #04151F;
    --bg-light-dark: #183A37;
    --accent-color: #C44900;
    --text-primary: #EFD6AC;
    --text-secondary: #EFD6AC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-primary);
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    background-color: var(--bg-light-dark);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
}

header p {
    text-align: left;
    color: var(--text-secondary);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

header .button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section {
    background-color: var(--bg-light-dark);
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

section h2 {
    color: var(--accent-color);
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
}

section p {
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    min-width: 250px;
}

.button {
    display: inline-block;
    color: var(--text-primary);
    background-color: var(--accent-color);
    target: "_blank";
    padding: 0.4rem 0.9rem;
    margin: 0 0.1rem 1rem 0;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--bg-dark);
    transform: translateY(-2px);
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--bg-dark);
}

@media (max-width: 600px) {
    flex-direction: column;

    .container {
        padding: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }
}